/* stil.css */
@font-face {
  font-family: "JosipaMalcevic";
  src: url("JosipaMalcevic.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("pozadina.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
}


.container {
  background-color: rgba(255, 255, 255, 0.85);
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

h1, h2 {
  text-align: center;
  color: #D90166;
}

h1 {
    font-family: "JosipaMalcevic", Arial, sans-serif;
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 10px 0 30px 0;
}


nav {
  text-align: center;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #800000;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #4d0000;
}

.galerija {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

.galerija img {
  width: 50%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.galerija img:hover {
  transform: scale(1.05);
}

video {
  width: 40%;
  max-width: 700px;
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}